body {
    font-family: "Gill Sans MT";

    overflow-x: hidden;
}

.header {
    background-color: #29506D;
    color: #FFFFFF;
    height: 50px;
    padding: 0 20px 0 20px;
}

.header h4 {
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header .select-wrap {
    margin-left: 20px;
    margin-top: 6px;
}

.header .btn-wrap {
    margin-left: 20px;
    margin-top: 6px;
}

.header .btn-wrap .btn-group {
    margin-left: 10px;
}

.header .type-select {
    min-width: 150px;
}

.header .checkbox-wrap {
    margin-left: 20px;
    margin-top: 12px;
}

.header .checkbox-wrap label {
    margin-left: 2px;
    color: #ffffff;
}

.main {
    padding: 20px 20px 40px 20px;
}

.main .stack {
    border-right: #aaaaaa 1px solid;
    height: 500px;
    overflow-y: auto;
    padding-right: 20px;
}

.main .stack-item {
    padding: 5px 10px;
}

.main .stack-report-item div {
    color: black;
    text-decoration: none;
}

.main .stack-report-item div:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.main .response {
    height: 500px;
    overflow-y: auto;
}

.footer {
    background-color: #496D89;
    color: #ffffff;
    height: 40px;
    padding-left: 20px;
}

.footer h5 {
    line-height: 40px;
}

